<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common :: head('board')">
</head>

<body>

    <nav th:replace="common/common :: nav('board')">

    </nav>

    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>게시판</h1>
        </div>
    </main>

    <div class="container p-5 rounded">
        <table class="table table-dark table-hover
                       text-center" style="cursor:pointer">
            <colgroup>
                <col width="10%">
                <col width="50%">
                <col width="20%">
                <col width="20%">
            </colgroup>
            <thead>
                <tr>
                    <th>순번</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active" th:each="board : ${list}">
                    <td th:text=${board.id}></td>
                    <td th:text=${board.title}></td>
                    <td th:text=${board.name}></td>
                    <td th:text=${board.date}></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container d-flex justify-content-end">
        <a href="#" th:href="@{/form}" class="btn btn-primary" th:text="쓰기">Primary</a>
    </div>

    <footer th:replace="common/common :: footer">
        <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>
    </footer>
</body>

</html>
