<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common :: head('board')">
</head>

<body>

    <nav th:replace="common/common :: nav('board')">

    </nav>

    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>게시판</h1>
        </div>
    </main>

    <div class="container p-5 rounded">
        <form th:action="@{/board/form}" method="post" th:object="${board}">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" name="title" class="form-control" id="title" th:field="*{title}">
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    title hasErrors
                </div>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" name="content" id="content" th:field="*{content}"></textarea>
                <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                </div>
            </div>
            <a th:href="@{/board/list}" class="btn btn-primary">취소</a>
            <button type="submit" class="btn btn-primary">저장</button>
        </form>
    </div>

    <footer th:replace="common/common :: footer">
        <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>
    </footer>

</body>

</html>
