<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common :: head('board')">
</head>

<body>

    <nav th:replace="common/common :: nav('board')">

    </nav>

    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>게시판</h1>
        </div>
    </main>

    <div class="container p-5 rounded">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <div id="title" th:text="${board.title}"></div>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <div id="content" th:text="${board.content}"></div>
        </div>
        <a th:href="@{/board/list}" class="btn btn-primary">목록</a>
        <a th:href="@{/board/delete}" id="delete" class="btn btn-primary">삭제</a>
        <a th:href="@{/board/form(id=${board.id})}" class="btn btn-primary">수정</a>
    </div>

    <footer th:replace="common/common :: footer">
        <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>
    </footer>

</body>

</html>
