@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
*{
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root,html,body{
	height: 100%;
	width: 100%;
	/* r g b*/
	background-color: #0022cc;
	color: #fff;
	/* ffffff */
	/* 255 -> ff */
	display: flex;
	justify-content: center;
	align-items: center;
}
.qnadiv{
	top:50px;
	right:50px;
	width:100px;
	height:30px;
	background-color:#c9c9c9;
	position: absolute;
	border-radius: 40%;
	display: flex;
	justify-content: center;
}
.qnadiv > a{
	text-decoration: none;
}
.container{
	display: flex;
	justify-content: space-around;
	width: 1200px;
	height: 600px;
	background-color: #fff;
}
.left_panel{
	padding-top: 30px; 
	padding-left: 10px;
	width: 46%;
	height: 100%;
	color: #ccc;
/* 	background-color: #80ffcc; */
}
.left_panel > div{
	width: 80%;
	margin: 20px auto;
/* 	background-color: #80ff80; */
}
.left_panel > div > h1{
	color: #121410;
	margin: 10px 0;
}
.left_panel .leftbtndiv{
	width: 100%;
/* 	background-color: #80ff80; */
}
.left_panel .leftbtndiv > button{
	width: 80%;
	margin-top: 10px;
	margin-left: 15px;
	padding: 10px 0;
	border-radius: 4px;
	background-color: #8080ff;
	font-size: 1.5rem;
	cursor: pointer;
}
.right_panel{
	padding-top: 30px; 
	padding-left: 10px;
	width: 46%;
	height: 100%;
	color: #ccc;
/* 	background-color: #80ffcc; */
}
.right_panel > div{
	width: 80%;
	margin: 20px auto;
/* 	background-color: #80ff80; */
}
.right_panel > div > h1{
	color: #121410;
	margin: 10px 0;
}
.right_panel .rightbtndiv{
	width: 100%;
/* 	background-color: #80ff80; */
}
.right_panel .rightbtndiv > button{
	width: 80%;
	margin-top: 10px;
	margin-left: 15px;
	padding: 10px 0;
	border-radius: 4px;
	background-color: #8080ff;
	font-size: 1.5rem;
	cursor: pointer;
}




