<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CxFlatUI" version="1.0.0.4" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SunnyUI" version="3.0.2" targetFramework="net472" />
  <package id="SunnyUI.Common" version="3.0.2" targetFramework="net472" />
</packages>